/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #F47B64;
$light-blue: #84A6D6;
$blue: #84A6D6;
$dark-blue: #1B4D89;
$orange: #FFB800;
$green: #4ECE97;

// Gray scale
$gray-darker:  #3D3D3D; // #222
$gray-dark:    #626360;
$gray:         #E0E2DB; // #555
$gray-light:   #E1E2DC; // #777
$gray-lighter: #FFFBFE; // #eee
