.explanation-snippet {
  max-width:350px;
  text-align:center;
  margin: 30px auto
}

.explanation-text {
  Background-color: white;
  border: 1px solid $dark-blue;
  padding: 5px;
  border-radius: 3px;
  margin-top: 10px
}

.about-image {
  width: 140px
}
