.dashboard-desk-thumbnail {
  height:640px;
  overflow: hidden;
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 3px;
  & > h3 {
    color: $dark-blue;
    margin-top: 0;
    margin-bottom: 20px;
    max-height: 60px;
    text-align: center;
  }
  & > p {
    height: 44px;
    overflow: hidden;
  }
  &.active-desk {
    border: 1px solid $green;
  }
  &.inactive-desk {
    border: 1px solid $red;
  }
  &.add-desk {
    border: 1px solid $dark-blue;
    background-color: $gray-light;
    display:flex;
    justify-content:center;
    align-items:center;
    height:580px;
    position: relative
  }
}


.unavailability-wrap {
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 20px;
  height: 360px;
}


.green-btn{
  background-color: $green;
  width: 100%
}

.red-btn{
  background-color: $red;
  width: 100%
}

.cta-newdesk {
  text-align: center;
}

.thumbnail-bottom {
  position: absolute;
  bottom: 20px;
  left: -20px;
  width: 100%;
  text-align: center;
  list-style: none;
  font-size: 16px;
}

.company-resume {
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
}

.booking-show-couple {
  & > h4{
    display: inline-block;
    margin-right: 8px
  }
  & > p{
    display: inline-block;
  }
}
