.research-bar {
  display: block;
  margin-top: 20px;
  height: 60px;
  background-color: #FFFBFE;
  border-bottom: 1px solid #8F918C;

}

.products-list {
  display: block;
}

.map-outer {
  position: absolute;
  right: 0;
  width: 100%;
}

#map {


}


// .fixed {
//         position: fixed;
//         width: 25%;
// }
// .scrollit {
//         float: left;
//         width: 71%
// }
