.research-bar {
  display: block;
  margin-top: 20px;
  height: 60px;
  background-color: #FFFBFE;
  border-bottom: 1px solid #8F918C;

}

.products-list {
  display: block;
}

.map-outer {
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
}
