html,body{
    height:100%;
}

.research-bar {
  display: block;
  height: 60px;
  background-color: #FFFBFE;
  border-bottom: 1px solid #8F918C;
}

.products-list {
  display: block;
}

#desktop-map {
  width: 41.7%;
  position: absolute;
  right: 0;
  top: 55px;
  bottom: 0;
  display: block;
  overflow: hidden;
}


#mobile-map {
  width:100%;
  position:absolute;
  right:0;
  top:115px;
  bottom:0;
  z-index: 100;
  overflow:hidden;
}

#main, #main>.row {
  height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
  height:100%;
}

.out-window{
  left: -1000px;
  right: 1000px;
}

.map-box-content {
  display: flex;
  justify-content: space-between;
  & > h3{
    line-height: 30px;
    margin-top:10px;
    margin-bottom:10px
  }
  & > p {
    line-height: 30px;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 18px;
    color: $dark-blue;
  }
}

.map-box-btn{
  font-size: 20px;
}
