.content{
  margin-top: 30px;
  margin-bottom: 30px;
}

h3.company-section-title{
  font-size: 24px;
  color: #84A6D6;
  margin: 20.8px 0 Opx 0;
  line-height: 1;
  text-transform: uppercase;
}

h4.company-section-title{
  font-size: 18px;
  color: #84A6D6;
  margin: 20.8px 0 Opx 0;
  line-height: 1;
}

hr.style-company {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 5px;
  width: 100%;
}

p.company-description{
  // font-size: 16px;
  margin-bottom: 20.8px;
  line-height: 20.8px;
  margin: 0 0 10px;
  color: #888888;
  margin-bottom: 20px;
}

p.company{
  margin-bottom: 20.8px;
  line-height: 20.8px;
  margin: 0 0 10px;
  color: #888888;
  margin-bottom: 20px;

}

.desk-price{
  color: #000;
  background: #eee;
  padding: 7px 0.5%;
  display: inline-block;
  width: 25%;
  margin-bottom: 10px;
}
.price-category {
  width: 99%;
  margin:0;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
}

.prices-list {
  display: flex;
  justify-content: space-between

}


.action{
  font-size: 30px;
}

// .desk-price.checkout{
//   font-size: 20px;
//   color: #000;
//   width: 100%;
//   padding: 7px;
// }

.p-destinataire{
  line-height: 20.8px;
  margin: 0 0 10px;
  color: #888888;
}

.step{
  color: white;
  background-color: #FF989E;
  padding: 5px;
}

.step.active{
  background-color: #34495E;
}

p.step{
  color: white;
  font-size: 16px;
}

p.stop{
  color: white;
  font-size: 16px;
}

p.margin{
  margin: 0;
}

hr.delivery{
  border-top: 1px solid #e1e1e1;
  width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
}
.service-box{

  display: flex;
  // justify-content: center
}

#services-list-show{
  margin: 0;
  display: flex;
  justify-content: space-between
}

.nav-tabs > li > a {
  font-size: 15px;
  padding: 10px 6px
}

.nav-tabs > li.active > a {
  color: #84A6D6;
}

#desk-choice {
  padding-top: 85px;
  margin-top: -85px;
}
