.content{
  margin-top    : 30px;
  margin-bottom : 30px;
}

h4.company-section-title{
  font-size   : 18px;
  color       : $light-blue;
  margin      : 20.8px 0 Opx 0;
  line-height : 1;
}

hr.style-company {
  border        : 0;
  height        : 0;
  border-top    : 1px solid rgba(0, 0, 0, 0.1);
  border-bottom : 1px solid rgba(255, 255, 255, 0.3);
  margin-top    : 5px;
  width         : 100%;
}

p.company{
  line-height   : 20.8px;
  margin        : 0 0 10px;
  color         : #888888;
  margin-bottom : 20px;
  min-width     : 90px

}

.desk-price{
  color         : #000;
  background    : #eee;
  padding       : 7px 0.5%;
  display       : inline-block;
  width         : 25%;
  margin-bottom : 10px;
}

.price-category {
  width       : 99%;
  margin      : 0;
  text-align  : center;
  white-space : nowrap;
  font-size   : 12px;
}

.prices-list {
  display: flex;
  justify-content: space-between
}

.service-box{
  display: flex;
  & img{
    width: 25px;
    height: 25px;
    margin-right: 3px
  }
  & p {
    color: $gray-dark
  }
}

#services-list-show{
  margin: 0;
  display: flex;
  justify-content: space-around
}



.nav-tabs.nav-justified > li > a {
  padding: 10px 6px;
  color: $dark-blue;
  border-bottom: 1px solid $green;

}

.nav-tabs.nav-justified > li.active > a,
.nav-tabs.nav-justified > li.active > a:focus {
  color: $green;
  border: 1px solid $green;
  border-bottom-color: transparent
}


#desk-choice {
  padding-top: 85px;
  margin-top: -85px;
}

.btn-primary.disabled {
  opacity: 0.6
}


.tab-pane.active {
  color: $dark-blue;
}

#booking_start_date_time {
  max-width: 400px
}

#booking_start_date_time_4i,
#booking_start_date_time_5i {
  margin-left: 5px;
  margin-right: 5px
}

// select.time-slot-type {
//   padding-right : 25%
// }

.predicted_end {
  width: 64%;
  text-align: left
}
