
.home-gradient {
  position: absolute;
  background-color : rgba(0, 0, 0, 0.6);
  top: 80% ;
  bottom: 0%;
  left: 0;
  right: 0;

}

.home-gradient > h3 {
  font-size: 22px;
  text-align : center;
  margin : 15px auto 5px auto;
  width : 80%;
  z-index: 10;
}

.home-gradient > .flexform {
  width : 50% ;
  max-width : 480px;
  margin : auto;
}

.home {
  Margin-top: 40px;
}

.huge-card {
  background-image: image-url('homepro.jpg');
  background-size: cover;
  height: 500px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  display:flex;
  border-radius: 3px;
  justify-content:center;
  align-items:center;
  margin-top: 30px ;

}

.pro-content {

}


.card {
  position: relative;
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 20px auto;
}

.list-inline {
  padding: 20px 40px;
  list-style: none;
  display: inline-block;
  margin-left:150px;
  margin-right: 150px;
  padding: 5px;
  border-spacing: 5px;
  margin-top: 50px;
}

.avatar img {
  width: 40px;
}

.card-bg{
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card-bg1{
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: image-url('homecompany.jpg');
}
.card-bg2{
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: image-url('homecoworking.jpg');
}

.card-gradient {
  background-color : rgba(52, 73, 94, 0.1);
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card-gradient:hover {
  background-color : rgba(52, 73, 94, 0);
}
.card-category {
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-text {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  z-index: 10px;
  h2 {
    font-size: 28px;
    z-index : 10;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
  }
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  &:hover{
    opacity: 0;
  }
}

hr{
  width: 100px;
  border-top: 2px solid #eee;
}

.margin-about {
  margin-right: 50px;
  font-size: 18px;
}
