.form-group {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  // box-shadow
}

.form-group > .input > input {
  background-color: rgba(50, 50, 50, 0);
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 4%;
  border-bottom: 1px solid #E0E2DB;
  width: 100%;
}

.form-group > .input > textarea:hover{
    border: 1px solid $dark-blue;
}

.form-group > .input > textarea:focus{
    border: 1px solid $dark-blue;
    outline: 0
}

.form-group > .input > textarea {
  background-color: rgba(50, 50, 50, 0);
  border: 1px solid #E0E2DB;
  width: 100%;
}

.form-group > .input > label {
  text-align:left
}

.form-group > .input > .file {
  border: none
}

.form-group > .input > .file:hover {
  border: none
}

.form-group > .input > .file:focus {
  border: none
}


.form-group > .input > input:hover{
    border-bottom: 1px solid $dark-blue;
}

.form-group > .input > input:focus{
    border-bottom: 1px solid $dark-blue;
    outline: 0
}


.login-button-width{
  width: 60%;
}

.form-margin-top {
  margin-top: 30px
}

#preview-thumbnail {
  width: 300px;
  height: 150px;
}

#preview-image {
  width: 300px;
  height: 150px;
  background-size: 100% auto;
  background-position: center;
}

.form-top-preview {
  margin: 30px auto -20px auto;
}

.form-services {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.form-group > h5 {
  text-align:left
}

.facebook-btn{
  margin: 0 ;
  padding:2px;
  height: 38px;
  width: 98%;
  background-color: #425F9C;
  margin-right: 2%
}
.google-btn{
  margin: 0 ;
  padding:2px;
  height: 38px;
  width: 98%;
  background-color: #E6432F;
  margin-left: 2%
}

.facebook-btn > i{
  line-height: 38px;
  font-size: 24px;
  margin: auto;
}
.google-btn > i{
  line-height: 38px;
  font-size: 24px;
  margin: auto;
}

.side-image {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.opening-times {
  display:flex;
  justify-content: space-around;
  width: 100%
}

.opening-times > .time{
  display:flex;
  justify-content: space-between;
}

.one-px-margin {
  margin-left: 2px;
  margin-right: 2px
}
