.edit-profile-cta {
  text-align: center;
  padding: 50px 0;
}

.profile-page {
  margin-top: 60px
}

.company-address{
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-resume {
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 20px;
  height: 300px;
  margin-bottom: 20px
}
