= form_tag companies_path, method: :get, class: "flexform" do
  = text_field_tag :full_address, @full_address, placeholder: "Ville ou adresse", id: "js-autocomplete-city", class: "pretty-field"
  button.search-btn type="submit"
    i.fa.fa-search

