/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings


.padded {
  padding-top    : 5em;
  padding-bottom : 5em;
}

// Backgrounds
.bg-black {
  background : #4a4a4a;
}
.bg-grey {
  background : #aeaeae;
}
.bg-blue {
  background : #00a3e1;
}
.bg-dark-blue {
  background : #3b5998;
}

.icon-margin {
  margin-right : 4px;
  margin-left  : 4px;
}

.no-padding-right {
  padding-right : 0;
}
.no-padding-left {
  padding-left : 0;
}

.img-small {
  width : 320px;
}

.position-relative {
  position : relative
}

.full-width {
  width : 100%
}

.no-margin {
  margin : 0
}

.no-padding {
  padding : 0
}
.green{
  color : $green
}
.red{
  color : $red
}

.btn-primary {
  height        : 46px;
  font-size     : 20px;
  border-radius : 4px;
  padding-top   : 8px;
}

.btn-center {
  display:flex;
  justify-content:center;
}

#flash-alert,
#flash-notice {
  margin-top    : 55px;
  margin-bottom : -55px;
}

.unclickable {
  pointer-events: none;
  opacity: 0.5
}

.dark-hr {
  border: 1px solid $gray
}

.oversize{
  font-size: 30px
}

.disabled{
  disabled: true;
}

.blue {
  color: #1B4D89
}

//---- MEDIA QUERIES ----//

@media (max-width: 768px) {

  h1 {
    font-size : 1.5em;
  }

  h2 {
    font-size : 1.25em;
  }

  h3 {
    font-size : 1em;
  }

  h4 {
    font-size : 0.87em;
  }

  p {
    font-size : 0.85em;
  }

  .btn {
    font-size : 1em;
  }

  .btn-primary {
  padding-top : 10px;
  }

}

