/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

html,body{
    height:100%;
}

b {
  color: $gray-darker;
  font-weight: bold;
}

hr{
  width      : 100px;
  border-top : 2px solid #eee;
}

span.hint {
  color: $light-blue
}

span.error{
  color: $red
}

.padded {
  padding-top    : 2em;
  padding-bottom : 2em;
}

.icon-margin {
  margin-right : 4px;
  margin-left  : 4px;
}

.no-padding-left {
  padding-left : 0;
}

.full-width {
  width : 100%
}

.no-padding {
  padding : 0
}

.green{
  color : $green
}
.red{
  color : $red
}

.grey {
  color: $gray-dark
}

.margin-left{
  margin-left: 10px
}

.btn-primary {
  height        : 46px;
  font-size     : 20px;
  border-radius : 4px;
  padding-top   : 8px;
}

.btn-center {
  display:flex;
  justify-content:center;
}

#flash-alert,
#flash-notice {
  margin-top    : 55px;
  margin-bottom : -55px;
  position: relative;
  z-index: 10;
}

.dark-hr {
  border: 1px solid $gray
}

.oversize{
  font-size: 30px;
  margin-top: 22px
}

.disabled{
  disabled: true;
}

.marged{
  margin-right: 20%;
  margin-left: 20%
}

.blue {
  color: #1B4D89
}

.black {
  color: black
}

.limited-width-centered{
  max-width: 740px;
  margin: auto
}

//---- MEDIA QUERIES ----//

@media (min-width: 900px){
  .nav-tabs > li > a {
    font-size: 0.92em;
  }
  .banner {
    background-attachment: fixed;
  }

  #index-search-btn {
    right: -4px
  }
}

@media (min-width: 480px) and (max-width: 900px) {
  h1 {
    font-size : 2em;
  }

  h2 {
    font-size : 1.65em;
  }

  h3 {
    font-size : 1.3em;
  }

  h4 {
    font-size : 0.96em;
  }

  p {
    font-size : 0.90em;
  }

  .nav-tabs > li > a {
    font-size: 0.86em;
  }

  .btn {
    font-size : 1em;
  }

  .btn-primary {
    padding-top : 10px;
  }

  #index-search-btn {
    right: 5px
  }
}

@media (max-width: 480px) {

  h1 {
    font-size : 1.5em;
  }

  h2 {
    font-size : 1.25em;
  }


  h3 {
    font-size : 1em;
  }

  h4 {
    font-size : 0.87em;
  }

  p {
    font-size : 0.85em;
  }

  .nav-tabs > li > a {
    font-size: 0.75em;
  }

  .btn {
    font-size : 1em;
  }

  .btn-primary {
    padding-top : 10px;
  }

  #index-search-btn {
    right: 10px
  }

}

