.flexform {
  position: relative;
}
.pretty-field {
  position: absolute;
  margin:10px auto 10px auto;
  width: 100%;
  line-height: 22px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 6px 10px 8px 10px;
  outline: none;
  position: relative
}

.index-search-field {
  width: 105%;
}

#index-search-btn {
  right: 5px
}


.search-btn {
  position: absolute;
  right: -3px;
  top: 9px;
  font-size: 24px;
  width: 43px;
  outline: none;
  color: $dark-blue;
  background-color: transparent;
  border: none;
}
.map-btn {
  background-color: $dark-blue;
  color: white;
  width: 120%;
  height: 60px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

#map-icon {
  height: 46px;
  margin-top:5px
}

#list-icon{
  font-size: 30px;
  margin-top:15px

}

select{
  font: 400 12px/1.3 "open sans", sans-serif;
  width: 100%;
  height: 32px;
  font-color: $dark-blue;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid $dark-blue;
  line-height: 1;
  outline: 0;
  color: $dark-blue;
  border-color: $dark-blue;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 3px;
  background-color: transparent;
  background: linear-gradient($dark-blue, $dark-blue) no-repeat,
              linear-gradient(-135deg, rgba(27, 77, 137, 0) 50%, white 50%) no-repeat,
              linear-gradient(-225deg, rgba(27, 77, 137, 0) 50%, white 50%) no-repeat,
              linear-gradient($dark-blue, $dark-blue) no-repeat;
  background-size: 1px 28px, 20px 20px, 20px 20px, 20px 16px;
  background-position: right 20px center, right bottom, right bottom, right bottom;
}

#filter-select {
  margin: 13px auto;
}

.form-services {
  padding-left: 20px
}

.quantity-modifier {
  display: flex;
  justify-content: space-around;
}
.booking-quantity-modifier{
  display: flex;
  justify-content: space-between;
}

.quantity-modifier input.numeric,
.booking_time_slot_quantity input.numeric, {
  width: 40px;
  text-align: center;
  border-top: 1px solid $dark-blue;
  border-bottom: 1px solid $dark-blue;
  border-left: none;
  border-right: none;
  height: 28px;
  -moz-appearance:textfield;
}

.booking_time_slot_quantity input.numeric::-webkit-outer-spin-button,
.booking_time_slot_quantity input.numeric::-webkit-inner-spin-button,
.quantity-modifier input.numeric::-webkit-outer-spin-button,
.quantity-modifier input.numeric::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.plus-button, .minus-button {
  display:flex;
  justify-content:center;
  align-items:center;
  border: 1px solid $dark-blue;
  width: 28px;
  height: 28px;
  color: $dark-blue;
}

.plus-button:hover, .minus-button:hover {
  cursor: pointer;
  background-color: $dark-blue;
  color: white;
}

.plus-button {
  border-radius: 0 5px 5px 0;
}

.minus-button {
  border-radius: 5px 0 0 5px;
}

.quantity-input-buttons {
  display: flex;
  justify-content: space-around;
}

.qty-update-btn {
  border: 1px solid $dark-blue;
  border-radius: 5px;
  height: 28px;
  background: none;
  color: $dark-blue;
  font-size: 14px;
  line-height: 14px
}

.qty-update-btn:hover {
  background-color: $dark-blue;
  color: white;
}

#booking_time_slot_type,
#booking_start_date_time,
#booking_start_date_time_4i,
#booking_start_date_time_5i {
  height: 28px
}


#company_open_monday{
margin-top: -10px;
margin-left: -3px;
}

#company_open_tuesday{
margin-top: -10px;
margin-left: -3px;
}

#company_open_wednesday{
margin-top: -10px;
margin-left: -3px;
}

#company_open_thursday{
margin-top: -10px;
margin-left: -3px;
}

#company_open_friday{
margin-top: -10px;
margin-left: -3px;
}

#company_open_saturday{
margin-top: -10px;
margin-left: -3px;
}

#company_open_sunday{
margin-top: -10px;
margin-left: -3px;}

.closing-date {
  max-width: 200px;
  margin : 20px auto
}

.closing-date > .submit-date {
  width: 100%;
  margin-top: 10px;
}


