.rounded-icon {
  height: 150px;
  width: 150px;
  // background-color: #E0E2DB;
  border-radius: 50%;
  color: $dark-blue;
  font-size: 50px;
  line-height: 150px;
  text-align:center;
  margin: auto;
  border: 1px solid $dark-blue;
}

.rounded-icon:hover {
  background-color: $dark-blue;
  color: #FFFBFE;
}

.container-fluid {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.vp {
  margin: 40px;
  text-align: center
}
